@mixin st_btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;

	text-align: center;
	white-space: nowrap;
	font-family: $font_1;

	cursor: pointer;

	&[type='submit'] {
		@include appearance(none);
	}

	&:hover,
	&:focus {
		text-decoration: none;
	}
}

//color mixins:
@mixin btn_style_defoult {
	font-weight: 700;
	color: $white;
	background-color: $color_link_base;
	transition: background-color 0.3s ease;

	@include st_btn;

	&:hover {
		background-color: darken($color_link_base, 10%);
	}
}

@mixin btn_style_primary {
	font-weight: 700;
	color: $white;
	background-color: $primary;
	transition: background-color 0.3s ease;

	@include st_btn;

	&:hover {
		background-color: darken($green, 10%);
	}
}
@mixin btn_style_accent {
	font-weight: 700;
	color: $white;
	background-color: $color_link_base;
	transition: background-color 0.3s ease;

	@include st_btn;

	&:hover {
		background-color: darken($color_link_base, 10%);
	}
}

//size mixins:
@mixin btn_size_normal {
	height: rem(48);
	padding: 0 rem(20);
	min-width: rem(100);

	line-height: rem(48);
	font-size: rem(16);

	border-radius: rem(6);
}
