@mixin st_btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;

	text-align: center;
	white-space: nowrap;
	font-family: $font_1;

	cursor: pointer;

	&[type='submit'] {
		@include appearance(none);
	}

	&:hover,
	&:focus {
		text-decoration: none;
	}
}

//color mixins:
@mixin btn_style_default {
	font-weight: 700;
	color: $white;
	background-color: $primary;
	transition: background-color 0.3s ease;

	@include st_btn;

	&:hover {
		background-color: darken($green, 10%);
	}
}

@mixin btn_style_accent {
	font-weight: 700;
	color: $primary;
	border: 2px solid $primary;
	background-color: $white;
	transition: background-color 0.3s ease, color ease 0.3s;

	@include st_btn;

	&:hover {
		background-color: $primary;
		color: $white;
	}
}
@mixin btn_style_accent_2 {
	font-weight: 700;
	background-color: $primary;
	color: $white;
	border: 2px solid transparent;

	transition: background-color 0.3s ease, color ease 0.3s, border-color ease 0.3s;

	@include st_btn;

	&:hover {
		color: $primary;
		background-color: $white;
		border-color: $primary;
	}
}

@mixin btn_style_accent_3 {
	font-weight: 700;
	color: $green_2;
	background-color: $light_green;
	transition: background-color 0.3s ease, color ease 0.3s;

	@include st_btn;

	&:hover {
		background-color: darken($light_green, 10%);
		color: $white;
	}
}

@mixin btn_style_accent_4 {
	font-weight: 700;
	color: $white;
	border: 2px solid $white;
	background-color: transparent;
	transition: background-color 0.3s ease, color ease 0.3s;

	@include st_btn;

	&:hover {
		background-color: $white;
		color: $primary;
	}
}

//size mixins:
@mixin btn_size_normal {
	height: rem(48);
	padding: 0 rem(20);
	min-width: rem(105);

	line-height: rem(48);
	font-size: rem(16);

	border-radius: rem(6);
}
