.social-media {
	@include flex_block(row, wrap, flex-start, center, center);
	gap: rem(10);
	margin-left: auto;

	.mobile-menu__social_w & {
		margin: auto;
	}
}

.social-media__item {
	width: rem(30);
	height: rem(30);
	list-style-type: none;

	svg {
		display: block;
		width: 100%;
		height: 100%;
	}

	span {
		display: none;
	}
}
