@mixin h1 {
	font-size: var(--wp--preset--font-size--heading-1);
	font-weight: 700;
}

@mixin h2 {
	font-size: var(--wp--preset--font-size--heading-2);
	font-weight: 700;
}

@mixin h3 {
	font-size: var(--wp--preset--font-size--heading-3);
	font-weight: 500;
}

@mixin h4 {
	font-size: var(--wp--preset--font-size--heading-4);
}

@mixin h5 {
	font-size: var(--wp--preset--font-size--heading-5);
}

@mixin h6 {
	font-size: var(--wp--preset--font-size--heading-6);
}

@mixin text {
	font-size: var(--wp--preset--font-size--body-text);
}
// offsets

@mixin title_offset {
	margin-bottom: 2rem;
}
