.ui_colors__list {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: rem(30);
}

.ui_colors__block {
	height: rem(160);
	border: 1px solid rgba($black, 0.2);

	&:not(:last-child) {
		margin-bottom: rem(10);
	}
}

.ui_colors__descr {
	font-size: rem(16);
	&:not(:last-child) {
		margin-bottom: rem(10);
	}
}
