.ui_title {
	&:not(:last-child) {
		margin-bottom: 3rem;
	}
}

.ui_sub_title {
	&:not(:last-child) {
		margin-bottom: 2rem;
	}
}

.form_row {
	gap: rem(20);
	&:not(:last-child) {
		margin-bottom: rem(20);
	}
}
